* {
    margin: 0;
    font-family: "inter", sans-serif;
}

.header {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h2 {
    text-align: center;
    font-size: 65px;
    color: white;
}

.header p {
    padding-top: 20px;
    text-align: center;
    font-size: 22px;
    color: white;
}

.btn {
    background: #FF5959;
    padding: 20px 50px;
    color: white;
    border: 0px;
    border-radius: 2%;
    cursor: pointer;
    margin-top: 20px;
    font-size: 25px;

}

.header div {
    display: flex;
    justify-content: center;
}

.donate-today {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 130px;
}

.donate-amount-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}

.donate-today h1 {
    font-size: 45px;
    text-align: center;

}

.donate-today p {
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    line-height: 34px;
}

.donate-amount1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    height: 125px;
    width: 135px;
    background-color: #FAFAFA;
    text-align: center;
    border-radius: 5px;
}

.donate-today .optional {
    font-size: 18px;
    color: #B3B3B3;
    padding-top: 60px;
}

.donate-today .hr {
    margin-top: 10px;
    background-color: #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    width: 765px;
}

.hr-cnt {
    display: flex;
    justify-content: center;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.donate-today .btn1 {
    background: #FF5959;
    padding: 20px 50px;
    color: white;
    border: 0px;
    border-radius: 2%;
    cursor: pointer;
    margin-top: 30px;
    font-size: 25px;

}

.our-donate-plan {
    margin-top: 130px;
}

.our-donate-plan h1 {
    font-size: 45px;
    text-align: center;

}

.our-donate-plan p {
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}

.donate-plans {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.plan {
    width: 360px;
    height: 352px;
    border-radius: 5px;
}

.plan h1 {
    font-size: 24px;
    text-align: left;
    padding-top: 30px;
}

.plan p {
    font-size: 16px;
    text-align: left;
    padding-top: 16px;
    line-height: 24px;
}

.plan div {
    padding: 58px 22px;
}

.contribute1 {
    display: flex;
    justify-content: center;
    gap: 83px;
    padding: 0 20%;
    align-items: center;
    margin-top: 130px;
}

.contribute1 img {
    width: 456px;
    height: 477px;
    border-radius: 5px;
}

.text h1 {
    font-size: 45px;
}

.text p {
    font-size: 18px;
    width: 492px;
    margin-top: 20px;
    color: #707070;
}

.update {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25%;
    margin-top: 130px;
}

.update h1 {
    font-size: 45px;
}

.update p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #707070;
}

.update div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 809px;
    height: 200px;
    background: #FFF4D6;
    margin-top: 50px;
    border-radius: 2%;
}

.update div input {
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    width: 275px;
    height: 48px;
    border: 0;
}

.update div button{
    height: 48px;
    background: #FF5959;
    padding: 10px 25px;
    color: white;
    border: 0px;
    border-radius: 2%;
    cursor: pointer;
    font-size: 20px;
}

.footer{
    margin-top: 130px;
    height:177px;
    background-color: #0B0D17;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h1{
    font-size: 36px;
    font-family: "lobster";
    color: #FF5959;
}
.footer p{
    font-size: 14px;
    margin-top: 24px;
    font-family: "manrope";
    color: #FAFAFA;
}